.Titulo{
    background-color: rgb(55, 73, 161);
    margin-top: -25% ;
    /*padding-bottom: 5px;
    padding-top: 5px;
    */
    padding: 5px;
    text-align: left;
    position:fixed;
    padding-right: 70%;
}



#Imagen{
    position: static;
    flex-wrap: nowrap;
    border: 5px solid #61c1e7;
	
	margin-left: 80%;
	width: 17%;
	height: 189px;
    text-align: center;
    margin-top: 10%;
    
}

h1{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#datosPersonales{

    position:static ;
    margin-left: 80%;
    margin-top: 2%;
    background-color: rgba(228, 228, 228, 0.719);
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
}
#listaDatos{
    margin-left: -10%;
    font-size: 14px;
    font-family:Verdana ;

}

#Experiencia{
    margin-top: -46%;
    color: rgb(0, 0, 0);
}

.hr{
    margin-right: 21%;
}
 h2{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgba(0, 0, 0, 0.493);
 }
 
 p{
     font-size: 20px;
     width: 80%;
     font-family:sans-serif;
 }

#Formulario{
    font-size: 11pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    color: rgb(0, 252, 176);
    font-size: 12pt;

}